.tasklist {
  background-color: aliceblue;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 100vw;
  height: 90vh;
  overflow: auto;
}
.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.sub-title {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  font-weight: bold;
  padding: 0.3rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  padding: 0.5rem;
  margin: 0.3rem 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.footer-icons {
  display: inline-block;
  position: sticky;
  width: fit-content;
  height: fit-content;
  bottom: 5%;
  left: 90%;
}
.footer-icons img {
  height: 3rem;
  padding: 0.4rem;
}
.todo,
.inprogress,
.completed {
  flex-grow: 1;
}

/* .todo {
  background-color: #faebce;
}

.inprogress {
  background-color: #fafed5;
}

.completed {
  background-color: #daf9dc;
} */
