.alert-box {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 90vh;
}
::-webkit-input-placeholder {
  text-transform: capitalize;
}
.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.alert-container {
  max-height: 80%;
  max-width: 95%;
  /* padding: 1%; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}
.alert-content {
  text-align: center;
  width: 100%;
  overflow-y: auto;
}
