.context-menu {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: fit-content;
  z-index: 9999;
  /* margin: 1rem; */
  cursor: default;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  border-bottom: 0.3px solid #ddd;
  padding: 0.3rem;
}

.context-menu-item:hover {
  /* opacity: 0.8; */
  background-color: #eee;
}
